.button {
  border-radius: 1.75rem;
  font-family: inherit;
  cursor: pointer;
  border: none;
  color: var(--background-color);
  transition: background 0.3s ease-in-out transform 0.1s;
}
.button:active {
  transform: scale(0.95);
}

.accent {
  background: var(--primary-color);
}
.accent:hover {
  background: var(--primary-hover-color);
}


.small {
  font-size: 1rem;
  padding: 0.6rem 1.6rem;
}
.big {
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1.25rem 3.75rem;
  box-shadow: var(--button-box-shadow);
}