.card {


  .head {
    position: relative;

    .price {
      position: absolute;

      .currency {}
    }
    .add-to-card {
      position: absolute;

    }
    .rating {
      position: absolute;

    }
}

  .footer {

    .title {}
    .description {}
  }
}