.item {
  max-width: 32rem;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  margin-bottom: 1.7rem;

  .image {
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-position: center;
    border-radius: 1.25rem;
    filter: drop-shadow(0px 8px 25px rgbs(224,219,196,0.90));
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    .name {
      font-family: var(--font-family-secondary);
      font-size: 1.125rem;
      font-weight: 600;
    }
    .price {
      color:var(--primary-color);
      font-weight: 600;
    }
  }

  .actions {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: center;
    align-self: flex-start;  
    gap: 0.3rem;
    .count {
      font-weight: 600;
    }
    .button {
      width:1.75rem;
      height: 1.75rem;
      transition: fill 0.3s transform 0.1s;
      &:hover {
        fill: var(--primary-hover-color);
      }
      &:active {
        transform: scale(0.97);
      }
    }
  }
}