.search-wrapper {
  position: relative;
}
.search {
  min-width: 16rem;
  padding: 1rem 1.875rem 1rem 2.75rem;
  font-size: 0.875rem;
  font-style: normal;
  color: var(--text-primary-color);
  border: 1px solid #EFEFEF;
  border-radius: 0.625rem;
  background: #FCFCFD;
  box-shadow: 1rem 1.25rem 2.8rem 0px rgba(233, 233, 233, 0.25);
}
.search-icon {
  position: absolute;
  left: 1rem;
  top: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
}
