:root {
  --primary-color: #FE724C;
  --primary-hover-color: #dd5c38;
  --text-primary-color: #000;
  --text-secondary-color: #5B5B5E;
  --background-color: #fff;
  --separator-color: #D4D6E0;
  --font-family-primary: "Source Sans 3", sans-serif;
  --font-family-secondary: "Open Sans", sans-serif;
  --border-radius: 1.25rem;
  --box-shadow: 18px 18px 36px 0px rgba(211, 209, 216, 0.25);

}

body {
  margin: 0 auto;
  font-family:  var(--font-family-primary);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: var(--text-primary-color);
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
