:root {
  --primary-color: #FE724C;
  --text-color-primary: #000;
  --text-color-secondary: #5B5B5E;
  --background-color: #fff;
  --separator-color: #D4D6E0;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
